<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>CleanArchitecture_TDD_App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Data.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DataTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Infra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>InfraTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Main.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Presentation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>UI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>UITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>UseCasesIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Validation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9490D01A29D26E9200F177F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9490D02A29D270D500F177F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9490D03529D270E600F177F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94D5EF7829DA296800F130AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94D5EF8329DA298200F130AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94E885AF2A3002790031E523</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94EEB4342A2EAAEC00634791</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94EEB43B2A2EAAEC00634791</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94F234292A39570100E8D201</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94F234302A39570100E8D201</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94F9FD2C2A2A392400708E72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
